
/* Overwriting Default Styles */ 

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

#adminmenumain, #wpadminbar, #wpfooter{display: none !important; }

body {
  min-width: 1200px;
}


#wpbody-content {
  padding: 0 !important;
}

#wpcontent {
  margin:0 !important;
  padding: 0 !important;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 0;
}


/* Editor Styles */

.plbp_login-editor{
	position: fixed; 
	width:25%; 
	min-height: 100vh; 
	background: #fff; 
	top:0; 
	left:0; 
	bottom:0;
	overflow: scroll;
  min-width: 400px;
  z-index: 9;
  max-width: 500px;
}

.plbp_login-preview {
  display: inline-block;
  width: 75%;
  float: right;
  margin-top: -4%;
  height: 105vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}


.login_options_panel {
  max-width: 650px;
  padding: 20px 0 50px 0;
  width: 90%;
  margin: 0 auto;
}

.login_options_panel label{
  float: left;
  display: inline-block;
  min-width: 165px;
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 13px;
}
.login_options_panel input, .login_options_panel select{
  float: right;
  display: inline-block;
  width: 110px;
  margin-bottom: 7px;
}

.login_options_panel .sp-replacer {
  float:right;
}

.login_options_panel hr {
  border-color: #efefef !important; 
}

.login_options_panel input[type=number] {
}


.fullWidthField {
  width: 100% !important;
}


.image_upload_button {
  background: #4c5866 !important; 
  color: #fff !important;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  padding: 7px 15px 7px 15px;
  font-size: 16px;
  width: 95% !important;
  display: block !important;
  margin: 0 auto;
  text-align: center;
}

.image_upload_preview{
	width: 100%;
	margin-bottom: 10px;
  max-height: 280px;
  background: #efefef;
}

.image_preview_wrapper {
	text-align: center;
	width: 70%;
	margin: 0 auto;
  position: relative;
  display: none;
}


.image_preview_close_btn {
  width: 20px;
  height: 20px;
  background: #333;
  color: #fff;
  position: absolute;
  top: -13px;
  right: -20px;
  border-radius: 100px;
  cursor: pointer;
}

.inline_inp_4, .inline_inp_4{
  display: inline-block;
  width:60px !important;
  float: left !important;
}


.linkBtn {
  background: #a5a5a5;
  color: #fff;
  padding: 8px 7px 4px 5px;
  border-radius: 250px;
  text-align: center;
  font-size: 8px;
  cursor: pointer;
  margin-left: 1.5px;
}

.linkBtn span {
  font-size: 13px !important;
  width: 10px;
  height: 10px;
}

.linkedBtn {
  background: #2196f3 !important;
}


.ui-accordion-header {
  padding: .9em .5em .9em 2.2em !important;
}


#loginform {
  background: transparent;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.editor_ops_bottom_bar{
  min-width: 400px;
  max-width: 500px;
  width: 25%;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #5d5d5d;
  box-shadow: -17px -4px 20px #b1b1b1cc;
  color: #fff;
}

.bottom_bar_ops > div {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  width: 25%;
  padding: 8px 10px;
}

.undoRedoBtns > div{
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  width: 25%;
  padding: 5px 10px;
  background: #e3e3e3;
  cursor: pointer;

}

.undoRedoBtns > .undoRedoActive {
  background: #b1b1b1;
}


.polpb_template_card {
  width: 100%;
  padding: 15px 0;
  background: #ececec;
  text-align: center;
  margin: 15px 0;
  border-radius: 5px;
}

.polpb_template_card img {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.polpb_template_card p {
  text-align: center;
  margin: 10px 15px;
  display: block;
  font-size: 16px;
  padding: 5px 10px;
}

.template_select_btn {
  display: block;
  background-color: #5f62c4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-border-radius: 5px;
  border: none;
  padding: 5px 30px;
  color: #FFF;
  text-shadow: 1px 1px 1px #949494;
  cursor: pointer;
  font-size: 16px;
  margin: 10px auto;
  text-align: center;
  width: 60%;
}



.notice {
  display: none;
}

.ui-widget {
  font-family: 'Noto Sans JP', sans-serif !important;
}

#featherloginpage-redomessage {
  position: relative;
  top: -30px;
  margin-left: 20px;
}

.g-recaptcha{
  margin-bottom: 5px;
}

.updateBtnContainer{
  display: inline-block;
  float: right;
  width: 80px;
  padding: 8px 10px;
}

.updateBtn {
  background: #0087f3;
  color: #fff;
  padding: 6px 5px;
  cursor: pointer;
  border-radius: 2px;
}

.updateBtn:hover{
  background: #005192;
  transition: all 0.2s;
}


.feather-login-close {
  font-size: 25px;
  display: block;
  position: absolute;
  padding: 0px 10px;
  background: #e3e3e3; 
  color: #444;
  cursor: pointer;
}

.feather-login-close:hover{
  background: #888888;
  color: #fff;
  transition: all .2s;
}


.featherControlPanleButtonContainer{
  width: 26.9%;
  min-width: 429px;
  max-width: 529px;
  position: fixed;
  top: 42vh;
  height: 0;
  z-index: 999;
}

.featherHideOptions{
  float: right;
}

.featherHideOptions, .featherShowOptions{
  width: 26px;
  background: #fff;
  color: #c1c1c1;
  display: block;
  font-size: 30px;
  font-weight: 100;
  padding: 5px 0px 5px 6px;
  cursor: pointer;
}

.featherHideOptions:hover , .featherShowOptions:hover{
  background: #32AEB3;
  color: #fff;
  transition: all 0.2s;
}



.desktopModeSwitch, .phoneModeSwitch{
    padding: 7px 5px 7px 5px;
    width: 35px;
    margin: 0 auto;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    background: #333;
}

.switchActive{
  background: #31afb4 !important;
}


.prem-card {
  width: 100%;
  padding: 0 0 15px 0;
  background:#fff;
  text-align: center;
  margin: 15px 0;
  border-radius: 5px;
  border:2px solid #b3d6c9;
}

.prem-card-img-container{
  padding:4% 5%;
  background-color: #d7fff0;
  width: auto;
  margin: 0 auto;
}

.prem-card img {
  width: 20%;
  display: block;
}

.prem-card h4 {
  text-align: center;
  margin: 10px 15px;
  display: block;
  font-size: 16px;
  padding: 5px 10px;
}

.prem-card p {
  text-align: center;
  margin: 10px 15px;
  display: block;
  font-size: 12px;
  padding: 5px 10px;
}


.prem-card a{
  text-decoration: none;
}

.pro-buy-btn {
  display: block;
  background-color: #2196f3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-border-radius: 5px;
  border: none;
  padding: 10px 25px;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  margin: 10px auto;
  text-align: center;
  width: 50%;
  text-decoration: none;
}

.premiumFeaturesAcord {
  background:#31afb4 !important;
  color:#fff !important;
  padding:1.3em .5em 1.3em 2.2em !important;
}